*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  border: 2px solid #333;
  padding: 8px 10px;
  margin: 8px;
  width: 300px;
  border-radius: 4px;

  &::placeholder {
    opacity: 0.5;
    letter-spacing: 1px;
  }
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  padding: 1.5rem 0.8rem 0.5rem;
  text-align: center;
  margin: 1.5rem 1rem;
  position: relative;
  box-shadow: 0 0 20px rgba(104, 2, 2, 0.15);
}

.input-inner-cont {
  width: 400px;
  margin: 2rem auto;
  text-align: left;
}
.valid:focus {
  outline-color: green;
  border-color: green;
}

.invalid:focus {
  outline-color: red;
  border-color: red;
}

button {
  padding: 4px 12px;
  border-radius: 4px;
  background: #9b737360;
  cursor: pointer;
}
