*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-bottom: 2px solid #333;
  /* border-radius: 4px; */
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  padding: 1.5rem 0.8rem 0.5rem;
  text-align: center;
  margin: 1.5rem 1rem;
  position: relative;
  box-shadow: 0 0 20px rgba(104, 2, 2, 0.15);
}

.valid:focus {
  outline-color: green;
  border-color: green;
}

.invalid:focus {
  outline-color: red;
  border-color: red;
}
